// Color

$light-grey: #BBBBBB;
$dark-grey: #606060;
$white: #F7F7F7;
$light-blue:#CBE6F0;
$dark-blue: #7699C5;

@import '~@schibstedspain/sui-theme/lib/index';
@import '~@s-ui/react-atom-card/lib/index';

.sui-AtomCard {
  display: flex;
  justify-content: center;
  border: 0.05rem dotted $dark-grey;
  border-radius: 0.5rem;
  width: 20rem;
  background-color: $white;
  color: $dark-grey
}


.sui-AtomCard:hover {
  box-shadow: 0.3rem 0.3rem $dark-grey
}
