@import '~@schibstedspain/sui-theme/lib/index';
@import '~@s-ui/react-atom-card/lib/index';

.sktest-BarbasCard {
  display: flex;
  justify-content: center;
  border: 0.05rem dotted $c-gray-dark;
  border-radius: 0.5rem;
  background-color: $c-white;
  color: $c-gray-dark;
  text-decoration: none;

  &-image{
      margin-top: 0.6rem;
      max-width: 95%;
      max-height: 95%;
  }

  &:hover {
    box-shadow: 0.3rem 0.3rem $c-gray-dark;
  }
}
